.hero{
    min-height: 750px;
    background-repeat:repeat;
    background-size:cover;
    background-position: center; 
    background-size: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

@media (max-width:768px){
    .hero{
        min-height: 600px;
    }
}

input::placeholder{
    font-style: italic;
}

.hovereffect:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    box-shadow: 0 7px 15px rgba(0, 0, 0,1.15); 
    
}
