.navbar-brand , .nav-link{
    align-items:center;
    display:inline-flex ;
}

.navbar-brand:hover{
    
    display:inline-flex ;
    transform:translateY(-2px) ;
    transition: transform 0.3s ease;
}

.navbar-brand:hover img{
    animation: shake 0.5s ease; 
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.nav-link:hover{
    transform:translateY(-2px) ;
    transition: transform 0.3s ease;
    color:rgb(238, 9, 9);
    font-weight : bold ;
}

